* {
    /* 背景的设置 */
    background-color: burlywood;
    color: #000000;
    font-size: 16px;
    font-family: Hiragino Sans GB, Tahoma, Helvetica, Arial, Microsoft YaHei, WenQuanYi Micro Hei, 黑体, 宋体, sans-serif;
    font-weight: 300;
    /* 将所有盒子（包括 body 标签）的边框内外边距全部设置为 0，这样 body 内的元素就会 “紧贴着” 浏览器的边框防止而没有空白*/
    padding: 0;
    margin: 0;
    border: 0;
}

header {
    /* 标题的样式 */
    background-color: burlywood;
    margin: 0;
    border: 0;
    font-size: 30px;
    font-weight: 800;
}

p[class="intro"] {
    /* ]介绍栏样式 */
    background-color: #a9ac1c;
    color: #000;
    font-size: large;
    font-weight:500;
    min-height: 1.4em;
}

div[class="frame"] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* min-width: 300px; */
    /* margin: auto; */
}

div[class="frame-next"] {
    display: flex;
    flex-direction: column;
    min-width: 30px;
    margin: auto;
}

div[class="main"] {
    /* 框架的样式 */
    display: flex;
    flex-direction: row;
    min-width: 300px;
    background-color: rgba(197, 126, 60, 0.616);
    margin: auto;
    /* padding: 1px; */
}

div[class="left-side-index"] {
    /* 框架中的索引区域的样式 */
    display: flex;
    flex-direction: column;
    background-color: rgb(209, 130, 56);
}

div[class="frame"] {
    display: flex;
    flex-direction: column;
}

div[class="top"] {
    display: flex;
    flex-direction: column;
}

div[class="top-side-index"] {
    /* 框架中的索引区域的样式 */
    display: flex;
    flex-direction: row;
    background-color: rgb(197, 100, 9);
    min-width: 300px;
    /* margin: 0; */
}

div[class="article"] {
    /* 框架中的正文区域的样式 */
    display: flex;
    flex-direction: column;
    max-width: 960px;
    /* background-color: rgb(197, 100, 9); */
    padding: 1em 1em 10em 1em;
    margin: 1em 10em 10em 10em;
}

a[class="left-side-button"] {
    /* display: flex;
    flex-direction: column; */
    background-color: rgb(160, 81, 7);
    color: rgb(65, 32, 3);
    min-width: 4em;
    min-height: 3em;
    text-align: center;
    line-height: 3em;
    font-family: serif;
    font-size: 20px;
    text-decoration: none;
}

a[class="top-side-button"] {
    display: block;
    background-color: rgb(160, 81, 7);
    color: rgb(65, 32, 3);
    min-width: 4em;
    min-height: 3em;
    line-height: 3em;
    font-family: serif;
    font-size: 20px;
    text-decoration: none;
}

div p {
    padding-top: 20px;
}